{% extends 'GBFinance/base.html' %}

{% load humanize %}

{% block content %}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([

            ['Month', '{{ category }}',],
            {% for field in send_data %}
            ['{{ field.0 | date:'M' }}',  {{ field.1 }},],

          {% endfor %}
        ]);

        var options = {
          title: 'Monthly Income Allocation',
          curveType: '',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
</head>

<h1>Data Analysis Central</h1>
<div id="searchform">
<form action="{% url 'GBFinanceanalysis' %}" method="POST">{% csrf_token %}
<select name="year">
    <option value=''>--Select Year--</option>
    <option value='2017'>2017</option>
    <option value='2016'>2016</option>
    <option value='2015'>2015</option>
    <option value='2014'>2014</option>
    <option value='2013'>2013</option>
</select>
<br>
<select name="category">
    <option value=''>--Select Category--</option>
    <option value='expense_checks'>Expense Checks</option>
    <option value='schwab_dividends'>Schwab Dividends</option>
    <option value='public_loan'>Government Loan</option>
    <option value='capone_creditcard'>Capital One CC</option>
    <option value='amex_creditcard'>Amex CC</option>
    <option value='discover_creditcard'>Discover CC</option>
    <option value='daycare'>Daycare</option>
    <option value='amex_savings'>Amex Savings</option>
    <option value='delco_water'>Delco Water</option>
</select>
<br>
<input type="submit">
</form>
</div>

  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>


{% endblock %}
