<tr><td>{{ field.huntington_save | intcomma }}</td></tr>
            <tr><td>{{ field.fifththird_save | intcomma }}</td></tr>
            <tr><td>{{ field.capone_save | intcomma }}</td></tr>
            <tr><td><u>{{ field.amex_save | intcomma }}</u></td></tr>
            <tr><td><b><span id="dollar">$</span>{{ field.total_save | intcomma }}</b></td></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><td>{{ field.deacon_invest | intcomma }}</td></tr>
            <tr><td><u>{{ field.buckeye_invest | intcomma }}</u></td></tr>
            <tr><td><b><span id="dollar">$</span>{{ field.total_invest | intcomma }}</b></td></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><td>{{ field.opers_retire | intcomma }}</td></tr>
            <tr><td>{{ field.four01_retire | intcomma }}</td></tr>
            <tr><td>{{ field.roth_retire | intcomma }}</td></tr>
            <tr><td><u>{{ field.four57_retire | intcomma }}</u></td></tr>
            <tr><td><b><span id="dollar">$</span>{{ field.total_retire | intcomma }}</b></td></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><td>{{ field.justin_car | intcomma }}</td></tr>
            <tr><td>{{ field.kat_car| intcomma }}</td></tr>
            <tr><td><u>{{ field.main_home | intcomma }}</u></td></tr>
            <tr><td><b><span id="dollar">$</span>{{ field.total_physical | intcomma }}</b></td></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><td><b><span id="dollar">$</span>{{ field.total_assets | intcomma }}</b></td></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><td>{{ field.amex_credit | intcomma }}</td></tr>
            <tr><td>{{ field.discover_credit | intcomma }}</td></tr>
            <tr><td><u>{{ field.capone_credit | intcomma }}</u></td></tr>
            <tr><td><b><span id="dollar">$</span>{{ field.total_credit | intcomma }}</b></td></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><td>{{ field.car_loan | intcomma }}</td></tr>
            <tr><td>{{ field.privstudent_loan | intcomma }}</td></tr>
            <tr><td><u>{{ field.pubstudent_loan| intcomma }}</u></td></tr>
            <tr><td><b><span id="dollar">$</span>{{ field.total_loan | intcomma }}</b></td></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><td>{{ field.main_mortgage | intcomma }}</td></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><td><b><span id="dollar">$</span>{{ field.total_liabilities | intcomma }}</b></td></tr>
            <tr class="blank_row"><td></td></tr>
            <tr><td><b><span id="dollar">$</span>{{ field.networth | intcomma }}</b></td></tr>
