{% extends 'GBGolf/base.html' %}

{% block content %}

<head>
    <style>
        .gb1{
            margin: 4px 2px 4px 2px;
            width: 100px;
        }

        #toprow{
            width: auto;
        }

        #topleft{
            width: 50%;
            float: left;
        }

        #topright{
            border: 2px solid black;
            width: 50%;
            float: right;
        }
    </style>
</head>
<body>

<h3>Range Practice</h3>
<div id='toprow'>
    <div id='topleft'>
    <form method="POST">{% csrf_token %}
        <p class="gb1">Date: {{ form.date }}</p>
        <p class="gb1">Drill: {{ form.drill }}</p>
        <p class="gb1">Club: {{ form.club }}</p>
        <p class="gb1">Balls Hit: {{ form.balls_hit }}</p>

    <button class="gb1" type="submit" class="save btn btn-default">Submit</button>

    </form>
    </div>
    <div id='topright'>
        <h5>Non-ball Drills</h5>
        <ul>
            <li>Extreme Misses</li>
            <li>Alignment Stick Release</li>
            <li>Club Swoosh (1-hand)</li>
            <li>Rope Swoosh (2-hand)</li>
            <li>Sand Splash/Swing Direction</li>
            <li>Sand Differential Line</li>
            <li>Tee-bit Drill</li>
            <li>Sand Arc Height Drill (Clip, Deep, Medium divot)</li>
            <li>Tee Ladder Drill</li>
        </ul>
    </div>


</div>

<div id="drillsheet">
<table width="100%" style="border: 3px solid black;">
<tr style="border: 1px solid black;">
    <th>Date</th>
    <th>Drill</th>
    <th>Club</th>
    <th>Balls Hit</th>
</tr>
{% for drill in drills %}
<tr>
        <td>{{ drill.date }}</td>
        <td>{{ drill.drill }}</td>
        <td>{{ drill.club }}</td>
        <td>{{ drill.balls_hit }}</td>
</tr>
{% endfor %}
</table>
</div>
<script>
    var today = new Date();
    var stringmonth = 1 + today.getMonth();
    var stringdate = stringmonth + '/' + today.getDate() + '/' +
        today.getFullYear();
    document.getElementById('id_date').value = stringdate;
</script>


</body>


{% endblock %}