{% extends 'GBGolf/base.html' %}

{% block content %}
<style>

@media(min-width:768px) {
#golfsheet {
    width: 700px;
}
}

.centdata {
    text-align: center;
}

</style>

<h2>9-Hole Rounds Played</h2>

<div id="golfsheet">
<table width="100%" style="border: 3px solid black;">
<tr style="border: 1px solid black;">
    <th>Date</th>
    <th>Course</th>
    <th>&nbsp;&nbsp;&nbsp;</th>
    <th>Strokes</th>
    <th>Putts</th>
    <th>Fairways Hit</th>
    <th>GIR</th>
    <th></th>
</tr>
{% for round9 in round_stats9 %}
<tr>
    <form method="POST" action="{% url 'GBGolfdelete_round' %}{{ round9.id }}">{% csrf_token %}
        <td>{{ round9.date }}</td>
        <td> {{ round9.course }}</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td class='centdata'>{{round9.strokes}}</td>
        <td class='centdata'>{{round9.putts}}</td>
        <td class='centdata'>{{round9.fairways_hit}}</td>
        <td class='centdata'>{{round9.gir}}</td>
        <td><button type="submit">Delete Round</button><td>
    </form>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}